<style>
  .dashboard-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .btn {
    width: 100px;
  }

  .user-search-box form {
    width: 500px;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .user-search-box form input {
    width: 70%;
    border: none;
    outline: none;
  }
</style>



<%- include('navbar') %>
  <div class="dashboard-container container">

    <div class="user-search-box">
      <form action="/admin/dashboard/" method="get">
        <input type="text" name="search" placeholder="search User">
        <button class="btn btn-info">Search</button>
      </form>
    </div>

    <div class="add-user-box">
      <a href="/admin/add-user" class="btn btn-success">Add user</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sl</th>
          <th scope="col">Full Name</th>
          <th scope="col">Mail address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

        <% userDetails.forEach((user,index)=>{ %>
          <tr>
            <th scope="row">
              <%= index+1 %>
            </th>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <a href="/admin/edit-user/<%= user.id %>" class="btn btn-warning">Edit</a>
              <a href="/admin/delete-user/<%= user.id %>" class="btn btn-danger delete-user">Delete</a>
            </td>
          </tr>
          <% }) %>


      </tbody>
    </table>
  </div>


  <%- include('footer') %>

    <script>
      const deleteUser = document.querySelectorAll('.delete-user')

      deleteUser.forEach((button) => {
        button.addEventListener('click', (e) => {
          e.preventDefault();
          Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire({
                title: "Deleted!",
                text: "Your file has been deleted.",
                icon: "success"
              });
              window.location.href=e.target.href;
            }
          });
        })
      })

    </script>